.App {
  text-align: center;
  height: 100vh;
  background: rgb(34, 193, 195);
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 0.29315476190476186) 100%
  );
}

.mainContainer {
  max-width: 1070px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;
}

.wrapper {
  display: flex;
  width: 100%;
}
