.App {
  text-align: center;
  height: 100vh;
  background: rgb(34,193,195);
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,0.29315476190476186) 100%);
}

.root {
  padding: 2px 4px;
  display: flex;
  align-items: center;
}

.chatHost {
  width: 100%;
}
.input {
  margin-left: 8px;
  flex: 1;
}

.headerWrapper {
  background-color: #cccccc;
  height: 50px;
  border: 1px solid #afaaaa;
  display: flex;
}

.contactName {
  font-family: Lato;
  font-size: 16px;
  font-weight: 600;
  color: #363636;
  padding: 10px;
  margin: 10px;
}

.snippetBox {
  padding: 5px 10px;
  margin: 5px;
  width: fit-content;
}



.mainContainer {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.innerShadow {
  box-shadow: inset 0 0 3px #0000006e;
  background-color: #f7f7f7;
  height: 80vh;
}

.chatWrap {
  display: grid;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
